In [1]:
from resources import functions as f
from resources.Game import Game
import queue as Q
from itertools import permutations
import pandas as pd
import time
import matplotlib as plt

In [2]:




## Insere estado inicial manualmente
# start_state = f.get_start_state()	

## HardCode que funciona
#start_state = ('5', '8', '3', '6', '4', '_', '7', '2', '1') # Funciona
state = ('1', '2', '3', '4', '5', '6', '7', '8', '_')	 # Funciona

states=permutations(state)
dic={'state':[],'d':[],'h1':[],'h2':[]}
h_options = [1,2]

conta=0
for start_state in states:
    count_nodes = {1: 0, 2: 0}
    conta+=1
    #print(start_state,conta)
    nao_encontrou=False
    
    for option in reversed(h_options):
    
        # Inicialização do Processo
        Game.h_option = option 		 		# Insere Heuristica
        priority_border = Q.PriorityQueue()	# Fila de prioridade por f(n)
        explorateds_states = {}				# Dicionario de estados explorados: Funciona como Hash
        node = Game(start_state, f.get_empty_space(start_state), None, 'Start', 0, 0)
        priority_border.put(node)
        #print('\n\n\t\tGame com a heuristica: h' + str(option), '\n\n')
        
        # Algoritmo A*: Busca de nó na fila de prioridade baseado em f(n) = h(n) + g(n)
        while True:
            # Flha: Borda Vazia
            if(priority_border.empty() or node.fn > 26):
                nao_encontrou=True
                
                #print('\n\tBorda Vazia: Nao encontrou sequencia\n')
                break
            node = priority_border.get()
            # Encontrou estado objetivo
            if(node.test_goal()):
                
                #print('\n\tEncontrou Estado Objetivo\n')
                #node.print_game_recursive()
                #f.print_array_actions(node.sequence_of_actions())
                #print(f.print_formatted_sequence(node.sequence_of_actions()))
                break
            # Executando as ações possíveis
            for action in node.list_actions():
                count_nodes[option] += 1
                son = node.execute_action(action)
                try:
                    # Verifica se existe esse estado no explorateds_states: Se exsitir não insere
                    bool(explorateds_states[son.generate_hash()])
                except:
                    # Se não existir esse estado, então insere na fila
                    priority_border.put(son)
            explorateds_states[node.generate_hash()] = True # Pôe em explorateds_states
        if nao_encontrou:
            #print(not nao_encontrou)
            break
    #for option in h_options:
        #print('Count Nodes para h' + str(option), '==>', count_nodes[option])
    if not nao_encontrou:
        dic['state'].append(start_state)
        dic['d'].append(node.level)
        dic['h1'].append(count_nodes[1])
        dic['h2'].append(count_nodes[2])
        #print('soluçoes encotradas:',conta_encontrados)
        #print(pd.DataFrame(dic))

KeyboardInterrupt:

In [3]:
df=pd.DataFrame(dic)

In [42]:
conta

165250

In [34]:
df['h2/h1']=df['h2']/df['h1']

In [40]:
df.describe().round({'h1':0,'h2':0,'h2/h1':2})

                  d        h1       h2     h2/h1
count  79520.000000   79520.0  79520.0  79519.00
mean      20.914650   27859.0   2330.0      0.13
std        3.335033   30515.0   2311.0      0.09
min        0.000000       0.0      0.0      0.01
25%       19.000000    6255.0    731.0      0.07
50%       21.000000   15666.0   1629.0      0.11
75%       23.000000   37008.0   3339.0      0.15
max       26.000000  157804.0  19433.0      1.00

In [73]:
df

                             state   d      h1     h2     h2/h1
0      (1, 2, 3, 4, 5, 6, 7, 8, _)   0       0      0       NaN
1      (1, 2, 3, 4, 5, 6, 7, _, 8)   1       3      3  1.000000
2      (1, 2, 3, 4, 5, 6, _, 7, 8)   2       5      5  1.000000
3      (1, 2, 3, 4, 5, 7, 8, 6, _)  12     304    148  0.486842
4      (1, 2, 3, 4, 5, 7, 8, _, 6)  11     192    131  0.682292
5      (1, 2, 3, 4, 5, 7, _, 8, 6)  10     131     81  0.618321
6      (1, 2, 3, 4, 5, 8, 6, 7, _)  12     310    133  0.429032
7      (1, 2, 3, 4, 5, 8, 6, _, 7)  11     201     90  0.447761
8      (1, 2, 3, 4, 5, 8, _, 6, 7)  10     112     55  0.491071
9      (1, 2, 3, 4, 5, _, 6, 7, 8)  13     534    226  0.423221
10     (1, 2, 3, 4, 5, _, 7, 8, 6)   1       3      3  1.000000
11     (1, 2, 3, 4, 5, _, 8, 6, 7)  13     413    195  0.472155
12     (1, 2, 3, 4, 6, 5, 8, 7, _)  16    1576    601  0.381345
13     (1, 2, 3, 4, 6, 5, 8, _, 7)  15    1016    335  0.329724
14     (1, 2, 3, 4, 6, 5, _, 8, 7)  14     681    330  0.484581
15     (1, 2, 3, 4, 6, 7, 5, 8, _)  16    1578    414  0.262357
16     (1, 2, 3, 4, 6, 7, 5, _, 8)  15    1278    365  0.285603
17     (1, 2, 3, 4, 6, 7, _, 5, 8)  14     756    285  0.376984
18     (1, 2, 3, 4, 6, 8, 7, 5, _)   4      15     12  0.800000
19     (1, 2, 3, 4, 6, 8, 7, _, 5)   5      24     15  0.625000
20     (1, 2, 3, 4, 6, 8, _, 7, 5)   6      27     17  0.629630
21     (1, 2, 3, 4, 6, _, 5, 8, 7)  15     921    453  0.491857
22     (1, 2, 3, 4, 6, _, 7, 5, 8)   3      10     10  1.000000
23     (1, 2, 3, 4, 6, _, 8, 7, 5)  17    2254   1000  0.443656
24     (1, 2, 3, 4, 7, 5, 6, 8, _)  16    1661    374  0.225166
25     (1, 2, 3, 4, 7, 5, 6, _, 8)  15     929    329  0.354144
26     (1, 2, 3, 4, 7, 5, _, 6, 8)  16    1610    624  0.387578
27     (1, 2, 3, 4, 7, 6, 8, 5, _)  14     771    322  0.417639
28     (1, 2, 3, 4, 7, 6, 8, _, 5)  15     994    436  0.438632
29     (1, 2, 3, 4, 7, 6, _, 8, 5)  16    1635    466  0.285015
...                            ...  ..     ...    ...       ...
79490  (5, 1, 8, 4, 6, _, 3, 2, 7)  23   30730   1614  0.052522
79491  (5, 1, 8, 4, 6, _, 7, 3, 2)  21   14175   1723  0.121552
79492  (5, 1, 8, 4, 7, 2, 3, 6, _)  24   49586   3800  0.076635
79493  (5, 1, 8, 4, 7, 2, 3, _, 6)  23   40897   2934  0.071741
79494  (5, 1, 8, 4, 7, 2, _, 3, 6)  22   23769   2460  0.103496
79495  (5, 1, 8, 4, 7, 3, 6, 2, _)  22   21600   1587  0.073472
79496  (5, 1, 8, 4, 7, 3, 6, _, 2)  21   12866    968  0.075237
79497  (5, 1, 8, 4, 7, 3, _, 6, 2)  22   16900   1670  0.098817
79498  (5, 1, 8, 4, 7, 6, 2, 3, _)  22   21763   1570  0.072141
79499  (5, 1, 8, 4, 7, 6, 2, _, 3)  23   32369   2039  0.062992
79500  (5, 1, 8, 4, 7, 6, _, 2, 3)  24   52491   3447  0.065668
79501  (5, 1, 8, 4, 7, _, 2, 3, 6)  21   13161    819  0.062229
79502  (5, 1, 8, 4, 7, _, 3, 6, 2)  23   31290   1793  0.057303
79503  (5, 1, 8, 4, 7, _, 6, 2, 3)  23   26316   1574  0.059812
79504  (5, 1, 8, 4, _, 2, 3, 7, 6)  22   28226   1836  0.065046
79505  (5, 1, 8, 4, _, 2, 6, 3, 7)  18    3577    172  0.048085
79506  (5, 1, 8, 4, _, 2, 7, 6, 3)  18    4816    872  0.181063
79507  (5, 1, 8, 4, _, 3, 2, 6, 7)  20    8859    838  0.094593
79508  (5, 1, 8, 4, _, 3, 6, 7, 2)  20   10911    837  0.076712
79509  (5, 1, 8, 4, _, 3, 7, 2, 6)  20   12323   1715  0.139171
79510  (5, 1, 8, 4, _, 6, 2, 7, 3)  22   26469   2186  0.082587
79511  (5, 1, 8, 4, _, 6, 3, 2, 7)  22   28166   1672  0.059362
79512  (5, 1, 8, 4, _, 6, 7, 3, 2)  22   26575   2118  0.079699
79513  (5, 1, 8, 4, _, 7, 2, 3, 6)  20    8147    466  0.057199
79514  (5, 1, 8, 4, _, 7, 3, 6, 2)  22   18189   1162  0.063885
79515  (5, 1, 8, 4, _, 7, 6, 2, 3)  22   24612   1142  0.046400
79516  (5, 1, 8, 6, 2, 3, 4, 7, _)  20    8670    972  0.112111
79517  (5, 1, 8, 6, 2, 3, 4, _, 7)  19    6355    495  0.077891
79518  (5, 1, 8, 6, 2, 3, _, 4, 7)  20    7834    829  0.105821
79519  (5, 1, 8, 6, 2, 4, 7, 3, _)  26  119017  11748  0.098709

[79520 rows x 5 columns]

In [33]:
df.groupby('d').mean().round({'h1':0,'h2':0,'h2/h1':2})

          h1      h2  h2/h1
d
0        0.0     0.0    NaN
1        3.0     3.0   1.00
2        6.0     6.0   1.00
3       10.0    10.0   1.00
4       13.0    12.0   0.96
5       17.0    15.0   0.93
6       24.0    20.0   0.84
7       34.0    26.0   0.78
8       47.0    31.0   0.69
9       74.0    39.0   0.53
10     109.0    50.0   0.46
11     174.0    69.0   0.39
12     255.0    89.0   0.35
13     416.0   128.0   0.30
14     627.0   170.0   0.27
15     984.0   247.0   0.25
16    1538.0   329.0   0.21
17    2435.0   462.0   0.19
18    3671.0   610.0   0.16
19    6207.0   857.0   0.14
20    8722.0  1126.0   0.13
21   14659.0  1589.0   0.11
22   21491.0  2092.0   0.10
23   33600.0  2978.0   0.09
24   51505.0  3932.0   0.08
25   75731.0  5627.0   0.07
26  116749.0  7486.0   0.06